.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433, #f53e2d);
}

.header__navbar-list {
    list-style: none;
    /* display: flex; */
    padding-left: 0;
    margin: 4px 0 0 0;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item {
    display: inline-block;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    
    right: -9px;
    top: 50%;
    transform: translateY(-80%);
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
    align-items: center;
}
.header__navbar-item-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* Chuông icon */
.fa-bell {
    transform: translateY(2px);
    margin-right: 2px;
}
/* help icon */
.fa-circle-question {
    align-items: center;
    transform: translateY(2px);
    margin-right: 4px;
}
/* facebook icon */
.fa-facebook {
    margin-right: 2px;
    margin-left: 3px;
}
.fa-instagram {
    transform: translateY(1px);
}
/* header QR code */
.header__qr {
    width: 186px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    /* background-color: yellow; */
    left: 0;
    top: -10px;
    display: block;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img {
    height: 16px;
    
}
.header__qr-link:first-child {
    margin-left: 11px;
}
.header__qr-link:last-child {
    margin-right: 11px;
}

/* Header notification */

.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #e5e5e5;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100%-20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}
.header__notify::before {
    
    content: "";
    
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
        
    position: absolute;
    right: 9px;
    transform: translateY(-80%);
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    background-color: transparent;
}
@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    
}
.header__notify-list{
    padding-left: 0;
    
}
.header__notify-item{
    
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.08);
}
.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
    margin-top: 4px;
}
.header__notify-description{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
}

/* Authen modal */
.auth-form {
    width: 400px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}
.auth-form__form {
    
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    
}
.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
/* auth-form__socials */
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 13px;
    margin-top: 11px;
}
.auth-form__controls-back {
    margin-right: 8px;
}


.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--facebook {
    color: white;
    background-color: #3a5a98;
    flex-basis: 50%;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
    padding-right: 5px;
}
.auth-form__socails-title {
    margin: 0 36px;
}
.auth-form__socials--google {
    color: #666;
    background-color: white;
    margin-left: 10px;
    flex-basis: 50%;
}
.auth-form__socails-google {
    margin: 0 7px;

}
/* auth-form__register */


/*auth-form-login*/
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}
.auth-form__help-forgot {
    color: var(--primary-color);
}
.auth-form__login {
    display: none;
}

/* Header-with-search */
.header-with-search {
    height: 77px;
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo {
    width: 200px;
}
.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    
}
.header__cart {
    width: 150px;
    text-align: center;
    position: relative;
    height: 20px;
}
.header__cart-icon {
    color: white;
    font-size: 2.4rem;
    margin-top: 0px;
    height: 24px;
}
.header__cart-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.header__search-select {
    border-left: 1px solid #ccc;
    justify-content: center;
    width: 17%;
    display: flex;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    width: 30px;
    height: 8px;
    margin-top: 3px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: white;
    
}
.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    margin-top: 15px;
    margin-right: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    /* background-color: red; */
    position: absolute;
    top: -20px;
    left: 0;
}
.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    /* text-align: right; */
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}

.header__search-option-item--active
.header__search-option-item i 
{
    display: inline-block;
}
.fa-check {
    width: 20px;
    height: 10px;
}
/* Search history */
.header__search-input-wrap {
    flex: 1; 
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    padding-top: 4px;
    overflow: hidden;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-item {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
/* ul tag */
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px -10px 0;
}
/* li tag*/
.header__search-history-item {
    height: 38px;
    padding: 0 23px;
    margin: 0;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

/* cart */

.header__cart-icon:hover {
    cursor: pointer;
}

.header__cart-icon{
    height: 40px;
}
.header__cart-list {
    display: none; 
    width: 307px;
    height: 164px;
    position: relative;
    transform: translate(-176px, 1px); 
    transform-origin: top right;
    animation: fadeIn ease-in 0.3s;
    will-change: opacity;
}

.header__cart-no-cart {
    width: 100%;
    height: 100%;
    position: absolute;
}
/* Nếu như 1 phần tử chứa 1 phần tử khác, bạn sẽ không 
thể hover vào nó  để làm xuất hiện 1 class khác  được,
bên dưới là vd
.header__cart-icon:hover .header__cart-list {
    display: block;
}
Và chúng ta cần dùng code sau đây */
.header__cart:hover .header__cart-list {
    display: block;
}
/* Tuy vậy header__cart-wrap vẫn dùng được 
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
*/

.header__cart-list::before {
    position: absolute;
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transform: translate(224px, -32px);
    cursor: pointer;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {

}
.category-item--active .category-item__link {
    color: var(--text-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 4px;
    content: "";
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}